@charset "utf-8";
/* ============================== PC 버전 ============================== */

/* ====== 메인 ====== */
/* === 모달 === */
.modal{display: none;
    
    position: fixed;
    left: 0;
    top: 0;    

    overflow-y: auto;
    
    width: 100%;
    height: 100%;   

    background-color: rgba(0, 0, 0, 0.8);

    z-index: 10000;}


.modal-wrap {

    position: absolute;
    left: 10%;
    top: 50px;
    display: block;
    width:80%;
    
    padding-bottom:50px;    
}

.modal-body{background-color: rgb(255, 255, 255); text-align: center; padding:20px;
            border-radius: 20px;}

.close-bt{position:absolute; top:30px; right:30px; color: #F86700;
    font-size:50px;}
.close-bt:hover{cursor: pointer;}

.modal h1{color: #262626; margin-bottom: 40px; padding: 20px 0px;}



/* === 섹션1 === */
.s-1{padding-top: 94px; margin-bottom: 80px;}
.s-1 .notice{background-color: #ededed;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);}

.s-1 .notice>.flex-box{justify-content: space-between;
    background-color: #ededed; padding: 16px 20px;}
.s-1 .notice p{color: #595959; cursor: pointer;}
.s-1 .notice p br{display: none;}

/* 스와이퍼 커스텀 */
:root {--swiper-theme-color: #A92415;
    --swiper-pagination-bullet-inactive-color: #ffffff;
        --swiper-navigation-size: 70px;}
    .swiper-pagination{text-align: right; padding-right: 170px; padding-bottom: 80px;
    top: 4%; transform: translateY(-4%);}
    .swiper-pagination-bullet{width: 14px; height: 14px;}


.s-1{position: relative;}


.banner-text{position: absolute; right: 150px; top: 40%; transform: translateY(-40%);
            z-index: 10; color: #fff; text-align: right;}


.banner-text h1{margin: 0 0 10px; font-size: 60px; font-weight: 800; }
.banner-text p{margin: 0; font-size: 30px; opacity: 0.9;}

/* 공지사항 */
.notice p{font-size: 20px; }
.notice .more:hover{color: #A92415;}
.notice-mobile{display: none;}


/* === 섹션2 === */
.s-2{margin-bottom: 80px;}
.s-2 .flex-box{justify-content: space-between;  margin-bottom: 20px;}
.s-2 h2{font-size: 24px; border-left: #A92415 10px solid; padding-left: 10px;}
.s-2 p{transition: all 0.2s; padding-bottom: 20px; text-align: right; font-size: 16px;}
.s-2 p:hover{cursor: pointer; color: #A92415;}

/* 리스트-자세히보기 */
.s-2-box .swiper-slide a{position: absolute;top: 50%; left: 50%; transform: translate(-50%, -50%);
                        z-index: 1000;
                        color: #fff; font-size: 18px;
                        padding: 10px 20px; border: 1px solid #fff;
                        opacity: 0; transition: all 0.3s ease;}

.s-2-box .swiper-slide:hover a{opacity: 1;}
.s-2-box .swiper-slide:hover img{cursor: pointer; opacity: 0.4;
    transition: all 0.3s ease;}

/* 리스트-검은색 오버레이 */
.s-2-box .swiper-slide{background-color:#000;}



/* === 섹션3 === */
.s-3{margin-bottom: 80px;}
.s-3 h2{font-size: 24px; border-left: #A92415 10px solid; padding-left: 10px;
        margin-bottom: 20px;}

.s-3 .s-3-right > .flex-box{align-items: center; margin-bottom: 20px;
                        justify-content: space-between;}
.s-3 .s-3-right h2{margin-bottom: 0px;}

/* 슬라이드 */
.s-3{margin-bottom: 100px;}
.s-3  >.flex-box {gap: 30px; align-items: flex-end}
.s-3  >.flex-box >div{width: calc((100% - 30px) / 2);}
.s-3 .s-3-left{position: relative;}

.s-3 .swiper-slide>div {position: absolute; background: rgba(0,0,0,0.5);
padding: 30px;bottom: 0px; right: 0px; width: 100%;text-align: right;}

.s-3 h3{font-size: 20px; display: inline-block;
    border-left: #A92415 4px solid;
    padding-left: 10px;
    border-right: #A92415 4px solid;
    padding-right: 10px;}

.s-3 .swiper-slide p{font-size: 28px; padding-top: 10px; text-align: right;}

/* 스와이퍼 커스텀 */
.s-3 .swiper{cursor: pointer;}

.s-3 .swiper-slide3 img {bottom: 50px;}

.s-3 .mySwiper3 > .swiper-pagination-1{position: absolute; left: 50px; bottom: 30px; z-index: 1000;}

.swiper-pagination-bullet{width: 10px; height: 10px;}



/* 캘린더 */
.calendar-img-mobile{display: none;}

.s-3 .s-3-right{position: relative;}

.s-3 .calendar-img{cursor: pointer;}

.s-3 .calendar-info .flex-box{align-items: center; padding: 0px 10px;}
.s-3 .calendar-info p{font-size: 20px; color: #ededed;}

.s-3 .calendar-info .calendar-square{display: inline-block; background-color: #A92415;
                                    width: 18px; height: 18px;  
                                    margin-right: 6px;}

.s-3 .calendar-info .calendar-circle{display: inline-block; background-color: #A92415;
                                    width: 18px; height: 18px; border-radius: 50%;
                                    margin-right: 6px;}

.s-3 .calendar-info .date{font-size: 30px; cursor: pointer;}
.s-3 .calendar-info .date p{padding: 0px 6px; cursor: pointer;}

/* 캘린더-모달창 */
.s-3 .calendar-area {position: relative;}
.s-3 .calendar-area .calendar-modal{opacity: 0; position: absolute;
                                left: 30%; top: 50%; z-index: 100;}
.s-3 .calendar-area:hover .calendar-modal{opacity: 1;}

.s-3 .calendar-modal{background-color: #ededed; width: 160px; height: 184px;}

.s-3 .calendar-modal .flex-box{padding: 10px;}

.s-3 .calendar-modal p{font-size: 16px; color: #595959;}

.s-3 .calendar-modal .square{display: inline-block; background-color: #A92415;
                            width: 18px; height: 18px;
                            margin-right: 6px;}

.s-3 .calendar-modal .circle{display: inline-block; background-color: #A92415;
                            width: 18px; height: 18px;
                            border-radius: 50%;
                            margin-right: 6px;}



/* === 섹션4 === */
.s-4{margin-bottom: 80px;}
.s-4 img{width: 100%;}
.s-4 .flex-box{justify-content: space-between; margin-bottom: 20px;}

.s-4 h2{font-size: 24px; border-left: #A92415 10px solid; padding-left: 10px;}
.s-4 .all p{
    padding-bottom: 20px; text-align: right; font-size: 16px;}
.s-4 .all p:hover{cursor: pointer; transition: all 0.2s; color: #A92415;}


/* 슬라이드 */
.s-4 .swiper-slide{background-color: #595959;  overflow: hidden;}
.s-4 .swiper-slide:hover{cursor: pointer;}
.s-4 .swiper-slide {padding: 20px 20px;}
.s-4 .swiper-slide >div:nth-child(1){overflow: hidden;}
.s-4 .swiper-slide img{transition: all 0.3s;}
.s-4 .swiper-slide img:hover{transform: scale(1.2); }

.s-4 span p, .s-4 span h3{display: inline-block;}
.s-4 .flex-box-1{justify-content: space-between; display: flex;}

.s-4 .store-info{padding-top: 20px;}
.s-4 .store-info p{font-size: 20px;}

.s-4 .flex-box-1 p, .s-4 h3{font-size: 24px;}



/* === 섹션5 === */
.s-5{margin-bottom: 80px;}

.s-5 h2{font-size: 24px; border-left: #A92415 10px solid; padding-left: 10px;}

.s-5 .flex-box{padding: 20px 0px; justify-content: space-around; margin-top: 20px;}

.s-5 .icon{font-size: 40px;
    flex-direction: column; text-align: center;}

.s-5 p{font-size: 20px;}

.s-5 .icon:hover{cursor: pointer;}
.s-5 .icon >div:hover{color: #A92415;}


@media(max-width:1399px){
/* === 섹션4 === */
.s-4 .store-info p {font-size: 18px;}

.s-4 .flex-box-1 p, .s-4 h3 {font-size: 20px;}

.s-4 .swiper-slide {padding: 18px 18px;}

}

@media(max-width:1205px){
/* === 섹션4 === */
.s-4 .store-info p {font-size: 16px;}

.s-4 .flex-box-1 p, .s-4 h3 {font-size: 18px;}

.s-4 .swiper-slide {padding: 14px 14px;}

}


@media(max-width:1080px){
/* === 섹션4 === */
.s-4 .swiper-slide {padding: 12px 12px;}
}

@media(max-width:1060px){
/* === 섹션4 === */
.s-4 .store-info p {font-size: 14px;}

.s-4 .flex-box-1 p, .s-4 h3 {font-size: 16px;}

.s-4 .swiper-slide {padding: 12px 12px;}
}


/* ============================== 태블릿 버전 ============================== */
@media(max-width:992px){

.container-1720 {padding: 10px 20px;}
/* === 섹션1 === */
.s-1{padding-top: 74px; margin-bottom: 50px;}
.s-1 .notice p{padding: 0px 20px;}

.notice .more:hover{color: #595959;}

/* 스와이퍼 커스텀 */
.swiper-pagination{text-align: right; padding-right: 64px; padding-bottom: 30px;}
.swiper-pagination-bullet{width: 10px; height: 10px;}


.banner-text{top: 30%; transform: translateY(-30%); right: 60px;}
.banner-text h1{font-size: 40px;}
.banner-text p{font-size: 20px;}


/* === 섹션2 === */
.s-2{margin-bottom: 50px;}

.s-2 p:hover{color: #ededed;}

/* 리스트-자세히보기 */
.s-2-box .swiper-slide:hover a{opacity: 0;}

/* 리스트-검은색 오버레이 */
.s-2-box .swiper-slide img:hover {opacity: 1;}


/* === 섹션3 === */
.s-3{margin-bottom: 50px;}

.s-3 >.flex-box {gap: 0px;}


.s-3 >.flex-box >div{width: 100%; margin-bottom: 50px;}




/* === 섹션4 === */
.s-4{margin-bottom: 50px;}

.s-4 .flex-box p:hover{color: #ededed;}

.s-4 .swiper-slide {padding: 20px 20px;}
.s-4 .swiper-slide >img{padding: 14px 14px 0px 14px;}

.s-4 .store-info{padding: 14px 0px;}
.s-4 .store-info p{font-size: 20px;}

.s-4 .flex-box p, .s-4 h3{font-size: 24px;}



/* === 섹션5 === */
.s-5{margin-bottom: 50px;}
.s-5 .icon{font-size: 40px;}
.s-5 p {font-size: 18px;}

.s-5 .icon >div:hover{color: #ededed;}
}

/* ============================== 모바일 버전 ============================== */
@media(max-width:768px){
/* === 섹션1 === */
.s-1{margin-bottom: 30px; padding-top: 42px;}
.s-1 .swiper-pagination {padding-bottom: 0px; padding-right: 30px;}

.banner-text{top: 40%; transform: translateY(-40%); right: 30px;}
.banner-text h1{font-size: 30px;}
.banner-text p{font-size: 18px;}



.s-1 .mySwiper img{height: 200px; width: 100%;  object-fit: cover;}




.s-1 .notice-mobile >.flex-box{background-color: #ededed;
    align-items: center; justify-content: center;}

.notice{display: none;}
.notice-mobile{display: block; color: #595959;}

.notice-mobile p{font-size: 14px; border-right: 1px solid #595959; padding: 0px 10px;}
.notice-mobile .notice-more{border-right:none;}



/* === 섹션2 === */
.s-2{margin-bottom: 30px;}

.s-2-box .swiper-slide a{display: none;}

.s-2-box .swiper-slide img:hover {opacity: 1;}



/* === 섹션3 === */
.s-3{margin-bottom: 30px;}

.s-3 .s-3-right .calendar-info {justify-content: flex-end; width: 100%;}



/* === 섹션4 === */
.s-4{margin-bottom: 30px;}

.s-4 .flex-box p, .s-4 h3 {font-size: 18px;}


/* === 섹션5 === */
.s-5{margin-bottom: 30px;}
.s-5 .flex-box {justify-content: flex-start; gap: 20px;}
.s-5 .flex-box >div{width: calc((100% - 40px) / 3);}
.s-5 p {font-size: 16px;}

}


/* === 푸터 === */
footer .container-1720 .flex-box {padding-bottom: 0px;}



@media(max-width:430px){
/* === 섹션1 === */
.s-1 .notice p{padding: 0px;}

/* 스와이퍼 커스텀 */
.swiper-pagination{text-align: right; padding-right: 30px; padding-bottom: 10px;}
.swiper-pagination-bullet{width: 10px; height: 10px;}
/* .s-1 .mySwiper img{left: 100px; transform: translateX(-100px)} */

.banner-text{top: 40%; transform: translateY(-40%); right: 30px;}
.banner-text h1{font-size: 30px;}
.banner-text p{font-size: 18px;}


.notice{display: none;}


/* === 섹션2 === */
.s-2 h2{font-size: 20px; border-left: #A92415 6px solid; padding-left: 10px;}




/* === 섹션3 === */
.s-3 h2{font-size: 20px; border-left: #A92415 6px solid; padding-left: 10px;}

/* 슬라이드 */
.s-3 h3 {font-size: 16px;}
.s-3 .swiper-slide p {font-size: 18px;}

.s-3 .swiper-slide>div {padding: 16px;}

.s-3 .mySwiper3 > .swiper-pagination-1 {left: 16px; bottom: 16px;}


/* 캘린더 */
.s-3 .calendar-info p{font-size: 16px;}

.s-3 .calendar-info .date p{text-align: center; font-size: 20px; }



.s-3 .calendar-info .date{   
        margin-top: 20px;
        width: 100%;
        justify-content: center;}


/* === 섹션4 === */
.s-4 h2{font-size: 20px; border-left: #A92415 6px solid; padding-left: 10px;}

.calendar-img-pc{display: none;}
.calendar-img-mobile{display: block;}

.s-4 .swiper-slide >img{padding: 14px 14px 0px 14px;}

.s-4 .store-info{padding: 14px 0px;}
.s-4 .store-info p{font-size: 14px;}

.s-4 .flex-box-1 p, .s-4 h3{font-size: 16px;}



/* === 섹션5 === */
.s-5 .icon{font-size: 30px;}
.s-5 h2{border-left: #A92415 6px solid;}
.s-5 p {font-size: 16px;}
.s-5 .flex-box {padding: 20px 10px; justify-content: space-between;}


}

@media(max-width:390px){
/* === 섹션1 === */
/* .s-1 .notice-mobile >.flex-box{justify-content: flex-start;} */
.notice-mobile p {padding: 0px 8px;}

/* === 섹션4 === */
.s-4 .flex-box-1 p, .s-4 h3 {font-size: 14px;}
.s-4 .store-info {padding: 14px 0px;}

}

@media(max-width:375px){
/* === 섹션1 === */
.banner-text{top: 46%; transform: translateY(-46%);}




.notice-mobile span{display: none;}
.notice-mobile .notice-more .fa-solid{padding: 0px 10px;}

.notice-mobile p{border-right: none;}
}


@media(max-width:348px){
/* === 섹션1 === */
.notice-mobile p {padding: 0px 0px;}


/* === 섹션4 === */
.s-4 .swiper-slide {
    padding: 10px 10px;}

/* === 섹션5 === */
.s-5 p {font-size: 14px;}



}